<!-- home section starts -->
{% extends 'store/base.html' %}

{% block content %}

<section class="home" id="home">

    <div class="content">
      <h3>hi everyone</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius cumque architecto optio reprehenderit, in, 
        tempore itaque error vitae eveniet maxime ad dolore deleniti aliquid! Velit vel animi cum dolor fugiat?</p>
    </div>
  
  </section>
  <!-- home section ends -->
  
  
  <!-- about section starts -->
  <section class="about" id="about">
  
    <div class="box-container-cd">
  
      <div class="cidade-deus">
        <h1>Cidade de Deus</h1>
        <p class="text">Buscapé é um jovem pobre, negro e sensível, que cresce em um universo de muita violência. Ele vive na Cidade de Deus, favela carioca 
          conhecida por ser um dos locais mais violentos do Rio. Amedrontado com a possibilidade de se tornar um bandido, Buscapé é salvo de seu destino por 
          causa de seu talento como fotógrafo, o qual permite que siga carreira na profissão. É por meio de seu olhar atrás da câmera que ele analisa o dia a 
          dia da favela em que vive, onde a violência aparenta ser infinita.</p>
      </div>
  
    </div>  
    
    <div class="box-container-cb">
  
      <div class="central-brasil">
        <h1>Central do Brasil</h1>
        <p class="text">Dora, uma amargurada ex-professora, ganha a vida escrevendo cartas para pessoas analfabetas, que ditam o que querem contar às suas 
          famílias. Ela embolsa o dinheiro sem sequer postar as cartas. Um dia, Josué, o filho de nove anos de idade de uma de suas clientes, acaba sozinho 
          quando a mãe é morta em um acidente de ônibus. Ela reluta em cuidar do menino, mas se junta a ele em uma viagem pelo interior do Nordeste em busca 
          do pai de Josué, que ele nunca conheceu.</p>
      </div>
  
    </div>  
  
  </section>
  <!-- about section ends -->
  
  {% endblock %}